@import './additional-styles/utility-patterns.css';
@import './additional-styles/range-slider.css';
@import './additional-styles/toggle-switch.css';
@import './additional-styles/theme.css';
@import './additional-styles/popper.css';
@import './additional-styles/tooltip.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@config '../tailwind.config.js';


/* generic css */
body.asleep header {
  @apply h-[80px] shadow-md shadow-gray-400
}
body.asleep header .ctm-header_between {
  @apply h-full
}
body.asleep header .ctm-header_center {
  @apply h-full mt-6 sm:mt-5
}
body.asleep header .asleep_toggle {
  @apply opacity-0 mt-4
}
body.asleep #screen {
  @apply h-[80px]
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.search-highlight-block b {
  color: hsl(var(--theme-color-primary));
}
